<h1>Characters Index!</h1>

<%= form_tag(characters_path, method: :get) do %>
  <p>Name1 <%= text_field_tag :name1, params[:name1] %></p>
  <p>Name2 <%= text_field_tag :name2, params[:name2] %></p>
  <p>SEED <%= text_field_tag :seed, params[:seed] %></p>
  <%= submit_tag 'Search', name: nil %>
<% end %>



<% if @characters.nil? || @characters.empty? %>
<p>No Marvel characters to display</p>
<% else %>
<p>
<% @characters.each do |character| %>
  <% if character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(character.errors.count, "error") %> prevented <%= character.name %> from battling:</h2>
 
      <ul>
      <% character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
  <% end %>
  <p><b>Marvel ID:</b> <%= character.marvel_id %></p>
  <p><b>Name:</b> <%= character.name %></p>
  <p><b>Description/Bio:</b> <%= character.desc %></p>
<% end %>
</p>

<% if @characters.length == 1 %>
<p>
  <b>WINNER: <%= @characters[0].name %></b>
</p>
<% end %>
<% end %>



<%= link_to 'Back', characters_path %>